<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ejercicios</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink="/ejercicio1">Ejercicio1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ejercicio2">Ejercicio2</a>
      </li>
      <li class="nav-item">
        <a class=nav-link routerLink="/ejercicio3">Ejercicio3</a>
      </li>
      <li class="nav-item">
        <a class=nav-link routerLink="/ejercicio4">Ejercicio4</a>
      </li>
      <li class="nav-item">
        <a class=nav-link routerLink="/ejercicio5">Ejercicio5</a>
      </li>
      <li class="nav-item">
        <a class=nav-link routerLink="/ejercicio6">Ejercicio6</a>
      </li>
      <li class="nav-item">
        <a class=nav-link routerLink="/ejercicio7">Ejercicio7</a>
      </li>
      <li class="nav-item">
        <a class=nav-link routerLink="/ejercicio8">Ejercicio8</a>
      </li>
    </ul>

  </div>
</nav>